@charset "UTF-8";

/* Mobile First*/

/* Paletas de cores
   verde: #20a347 
    lilas: #5f2c82
    amarelo

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    width: 350px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../img/pexels-jonathan-cooper-12708909.jpg);
    background-size: cover;
    background-position: center ;
    height: 200px;

}

section#login > div#formulario {
    padding: 15px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

